:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    background-color:white;
    display: grid;
    grid-template-rows: auto 1fr;
}

header {grid-template: 1250px;
    display:grid;
    padding:20px;
    
}

main {background:white;
    display:grid;
    grid-template-columns: 666px 329px;

}
#Up-next {grid-template-rows: 52px 339px 41px;
    display:grid;

}
